@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontStyling {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
